:root {
    --bg-color: #121212;
    --text-color: #ffffff;
    --lotto-border-color: #333;
    --lotto-bg-color: #1e1e1e;
    --number-bg-color: #333;
    --button-bg-color: #007bff;
    --button-hover-bg-color: #0056b3;
    --button-shadow-color: rgba(0, 123, 255, 0.7);
}

body.light-mode {
    --bg-color: #ffffff;
    --text-color: #333333;
    --lotto-border-color: #ccc;
    --lotto-bg-color: #f9f9f9;
    --number-bg-color: #eee;
    --button-bg-color: #28a745;
    --button-hover-bg-color: #218838;
    --button-shadow-color: rgba(40, 167, 69, 0.7);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
}

#theme-toggle-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

#theme-toggle {
    background-color: var(--button-bg-color);
    color: var(--text-color);
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}

#theme-toggle:hover {
    background-color: var(--button-hover-bg-color);
    box-shadow: 0 0 15px var(--button-shadow-color);
}

